@charset "UFT-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: 'Pretendard'; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat'; */
@keyframes bounce-emphasis {
  50% {
    transform: translateY(-6px);
    opacity: 0.5
  }
}
@keyframes opacity-emphasis {
  50% {
    opacity: 0.3
  }
}
@keyframes shake-emphasis {
  33% {
    transform: rotate(20deg);
    transform-origin: center 60%
  }
  66% {
    transform: rotate(-20deg);
    transform-origin: center 60%
  }
}
@keyframes appear-decoration {
  33% {
    opacity: 0.2;
    transform: scale(1.3);
  }
  66% {
    opacity: 0.5;
    transform: rotate(-20deg)
  }
}
@keyframes appear2-decoration {
  33% {
    opacity: 0.2;
    transform: scale(1.5);
  }
  66% {
    opacity: 0.5;
    transform: rotate(65deg)
  }
}
@keyframes appear3-decoration {
  33% {
    opacity: 0.5;
    transform: scale(1.5);
    transform-origin: 150% center
  }
  66% {
    opacity: 0.2;
  }
}


/* COMMON-S */
:root {
  font: 10px / 1.2 'Pretendard', 'Montserrat', "돋움", dotum, AppleGothic, sans-serif;
  color: #333;
  letter-spacing: -0.4px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  --swiper-theme-color: #D94444;
  --swiper-navigation-size: 0;
}
* {
  box-sizing: border-box;
}
*::before, *::after {
  content: "";
  box-sizing: border-box;
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img, input, select, textarea {
  vertical-align: text-top;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.hide {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  position: absolute;
  left: -9999px;
}
.skip-nav a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background-color: rgb(146, 30, 30);
  position: absolute;
  left: 0;
  top: -100px;
  ;
}
.skip-nav a:focus {
  top: 0;
}
.inner {
  width: 100%;
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
/* COMMON-E */

/* HEADER-S */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 0 40px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
}
.logo {
  text-indent: -9999px;
  width: 152px;
  height: 50px;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(/portfolio/hollys/img/logo-white.svg) no-repeat center center / cover;
  transition: all 0.3s;
}
.header:hover {
  color: #333;
  background-color: #f7f6f3;
}
.header:hover .logo a {
  background-image: url(/portfolio/hollys/img/logo-black.svg);
}
.gnb {
  height: 100%;
}
.gnb::after {
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 109px;
  background-color: rgba(247, 246, 243, 0.9);
  transition: all 0.4s;
}
.gnb .gnb-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.gnb .depth1 {
  width: 145px;
  height: 100%;
  font-size: 1.9rem;
  position: relative;
}
.gnb .depth1::after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #D94444;
  position: absolute;
  right: 0;
  bottom: -1px;
  z-index: 10000;
}
.gnb .depth1 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.gnb .depth2 {
  width: 145px;
  height: 0;
  padding-top: 15px;
  font-weight: 400;
  font-size: 1.5rem;
  color: transparent;
  position: absolute;
  left: 0;
  top: 109px;
  z-index: 9999;
  overflow: hidden;
  transition: all 0.4s;
}
.gnb .depth2 li {
  width: 100%;
  height: 35px;
  transition: all 0.4s;
}
.gnb .depth2 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gnb:hover::after {
  height: 250px;
}
.gnb:hover .depth2 {
  height: 250px;
  color: #555;
}
textContent .gnb .depth1:hover > a {
  color: #D94444;
}
.gnb .depth1:hover::after {
  width: 9999px;
}
.gnb .depth2 li:hover {
  color: #D94444;
}
.tnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  font-size: 1.5rem;
}
.tnb .login, .tnb .join {
  transition: all 0.3s;
}
.tnb .all-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.tnb .all-menu-btn span {
  font-size: 3rem;
  color: #fff;
  transition: all 0.35s;
}
.tnb .all-menu-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 0;
  height: 100vh;
  color: #333;
  background-color: #e2e0db;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.3s;
  overflow: hidden;
}
.tnb .all-menu-depth1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% / 3);
  height: 50%;
  opacity: 0;
}
.tnb .all-menu-depth1 > a {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 30px;
  transition: all 0.3s;
}
.tnb .all-menu-depth2 li {
  height: 47px;
}
.tnb .all-menu-depth2 a {
  font-weight: 400;
  font-size: 2.5rem;
  transition: all 0.3s;
}
.tnb .login:hover, .tnb .join:hover {
  color: #D94444;
}
.header:hover .tnb .all-menu-btn span {
  color: #333;
}
.tnb.active .all-menu .all-menu-btn {
  position: absolute;
  right: 40px;
  top: 47px;
  z-index: 10000;
}
.tnb.active .all-menu .all-menu-btn span {
  font-size: 5rem;
  color: #333;
}
.tnb.active .all-menu .all-menu-wrap {
  width: 100%;
  padding: 8% 8% 5% 20%;
}
.tnb.active .all-menu .all-menu-depth1 {
  opacity: 1;
}
.tnb .all-menu-depth1 > a:hover {
  color: #777;
}
.tnb .all-menu-depth2 a:hover {
  padding-left: 23px;
  font-weight: 600;
  color: #D94444;
  position: relative;
}
.tnb .all-menu-depth2 a:hover::before {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-55%);
  background: url(/portfolio/hollys/img/logo-crown.svg) no-repeat center center / contain;
  opacity: 0.4;
}
/* HEADER-S */



/* FOOTER-S */
.footer {
  width: 100%;
  height: 350px;
  padding-top: 50px;
  font-weight: 300;
  font-size: 1.4rem;
  color: #99918f;
  background-color: #626262;
}
.footer .inner {
  display: flex;
  flex-direction: column;
}
.top-btn {
  position: fixed;
  right: 60px;
  bottom: 80px;
  z-index: 9999;
}
.top-btn a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #777;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #777;
  border-radius: 100%;
}
.top-btn a::before {
  display: block;
  width: 18px;
  height: 18px;
  margin-bottom: 3px;
  background: url(/portfolio/hollys/img/top-arrow.svg) no-repeat center center / cover;
}
.top-btn a:hover::before {
  animation: bounce-emphasis 1s infinite;
}
.f-policy {
  order: 3;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 750px;
}
.f-policy a {
  font-weight: 500;
  line-height: 1.5;
  transition: all 0.3s;
}
.f-policy a:hover {
  color: #aaa;
}
.f-addr {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  margin-bottom: 70px;
}
.f-addr li {
  margin: 0 10px 10px 0;
  padding-right: 10px;
  border-right: 1px solid #99918f;
}
.f-addr li:nth-child(4), .f-addr li:nth-child(6) {
  border: none;
}
.f-copyright {
  font-weight: 500;
  font-size: 1.4rem;
}
.f-copyright::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #99918f;
  margin: 20px 0 40px 0;
}
/* FOOTER-E */




/******************
 max-width : 1280px
******************/
@media all and (max-width : 1280px) {
  /* HEADER-S */
  .header {
    padding: 0 20px;
  }
  .gnb .depth1 {
    width: 110px;
    font-size: 1.7rem;
  }
  .gnb .depth2 {
    width: 110px;
    font-size: 1.3rem;
  }
  .gnb .depth2 li {
    height: 28px;
  }
  .tnb {
    width: 130px;
    font-size: 1.3rem;
  }
  .tnb .all-menu-depth1 > a {
    margin-bottom: 25px;
    font-size: 3.5rem;
  }
  .tnb .all-menu-depth2 li {
    height: 40px;
  }
  .tnb .all-menu-depth2 a {
    font-size: 2rem;
  }
  .gnb:hover::after {
    height: 200px;
  }
  .tnb.active .all-menu .all-menu-btn {
    right: 20px;
  }
  .tnb.active .all-menu .all-menu-wrap {
    padding: 15% 3% 6% 15%;
  }

  /* FOOTER-S */
  .top-btn {
    right: 20px;
    bottom: 80px;
  }
}



/******************
 max-width : 1000px
******************/
@media all and (max-width : 1000px) {
  /* HEADER-S */
  .header {
    border: none;
  }
  .gnb {
    display: none;
  }
}


/******************
 max-width : 800px
******************/
@media all and (max-width : 800px) {
  /* HEADER-S */
  .tnb .all-menu-depth1 > a {
    margin-bottom: 22px;
    font-size: 3rem;
  }
  .tnb .all-menu-depth2 li {
    height: 35px;
  }
  .tnb.active .all-menu .all-menu-wrap {
    padding: 22% 0 7% 13%;
  }

  /* FOOTER-S */
  .footer {
    height: 100%;
    padding-bottom: 30px;
  }
  .f-addr {
    width: 100%
  }
  .f-addr li {
    padding-right: 0;
    border: none;
  }
  .f-policy {
    width: 100%;
    justify-content: center;
  }
  .f-policy li + li {
    margin-left: 10px;
  }
}



/******************
 max-width : 640px
******************/
@media all and (max-width : 640px) {
  /* HEADER-S */
  .tnb .all-menu-depth1 > a {
    margin-bottom: 20px;
    font-size: 2.7rem;
  }
  .tnb .all-menu-depth2 li {
    height: 32px;
  }
  .tnb .all-menu-depth2 a {
    font-size: 1.8rem;
  }
  .tnb.active .all-menu .all-menu-wrap {
    padding-top: 25%
  }
}


/******************
 max-width : 550px
******************/
@media all and (max-width : 550px) {
  /* HEADER-S */
  .tnb {
    width: 23px;
  }
  .tnb .login, .tnb .join {
    display: none;
  }
  .tnb .all-menu-depth1 {
    width: 50%;
  }
  .tnb .all-menu-depth1:nth-child(n+1):nth-child(-n+2) {
    height: 35%;
  }
  .tnb .all-menu-depth1:nth-child(n+3):nth-child(-n+4) {
    height: 25%;
  }
  .tnb .all-menu-depth1:nth-child(n+5):nth-child(-n+6) {
    height: 40%;
  }
  .tnb .all-menu-depth1 > a {
    margin-bottom: 18px;
    font-size: 2.5rem;
  }
  .tnb .all-menu-depth2 li {
    height: 28px;
  }
  .tnb .all-menu-depth2 a {
    font-size: 1.6rem;
  }
  .tnb.active .login, .tnb .join {
    display: none;
  }
  .tnb.active .login {
    right: 180px;
  }
  .tnb.active .join {
    right: 100px;
  }
  .tnb.active .all-menu .all-menu-wrap {
    padding-top: 35%
  }
}