.modal[data-v-dd5eb9c4] {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0006
}

.close-btn[data-v-dd5eb9c4] {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translate(-50%)
}

.box[data-v-dd5eb9c4] {
  width: 90%;
  height: 85vh;
  margin: 65px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 25px;
  position: relative
}

.page-header[data-v-dd5eb9c4] {
  text-align: center
}

.page-header .title-wrap[data-v-dd5eb9c4] {
  display: inline-block;
  margin: 0 auto;
  padding: 7px 50px;
  font-weight: 300;
  color: #fff;
  background: var(--main-color);
  border-radius: 50px
}

.page-header .title-wrap .title[data-v-dd5eb9c4] {
  font-size: 1.8em
}

.page-header .title-wrap .category[data-v-dd5eb9c4] {
  font-size: 1.2em;
  font-weight: 400;
  line-height: .8
}

.page-header .contact-wrap[data-v-dd5eb9c4] {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.page-header .contact[data-v-dd5eb9c4] {
  margin: 0 0 auto 15px;
  font-weight: 500;
  font-size: 1.23em;
  cursor: pointer
}

.page-header .contact-icon[data-v-dd5eb9c4] {
  margin-top: -2px;
  font-size: 1.05em;
  color: var(--main-color)
}

.page-header .contact .copy-icon[data-v-dd5eb9c4] {
  margin-left: 5px;
  color: silver;
  font-size: .8em
}

.page-header .contact-wrap .copy-msg[data-v-dd5eb9c4] {
  font-size: 2em
}

.page-content[data-v-dd5eb9c4] {
  width: 100%;
  height: 70%;
  overflow-y: scroll
}

.page-content[data-v-dd5eb9c4]::-webkit-scrollbar {
  width: 15px
}

.page-content .img-wrap[data-v-dd5eb9c4] {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.page-content .img-wrap .camping-img[data-v-dd5eb9c4] {
  height: 400px;
  min-height: 200px;
  border-radius: 15px
}

.page-content .img-wrap #detail-map[data-v-dd5eb9c4] {
  height: 100%;
  flex-grow: 1
}

.page-content .desc-wrap[data-v-dd5eb9c4] {
  width: 100%;
  border-bottom: 1px dotted var(--sub-color-dark)
}

.page-content .subtitle[data-v-dd5eb9c4] {
  font-weight: 600;
  font-size: 1.5em;
  border-bottom: 2px solid var(--point-color)
}

.page-content .desc[data-v-dd5eb9c4] {
  max-height: 120px;
  padding-right: 10px;
  font-size: 1.2em;
  text-align: justify;
  word-break: break-all;
  overflow-x: hidden
}

.page-content .desc span[data-v-dd5eb9c4] {
  display: inline-block;
  font-weight: 600;
  padding: 3px 15px;
  border-radius: 20px;
  background-color: var(--point-color-light)
}

.page-content .desc[data-v-dd5eb9c4]::-webkit-scrollbar {
  width: 10px
}

.page-content .desc[data-v-dd5eb9c4]::-webkit-scrollbar-thumb {
  min-height: 5px;
  background-color: var(--sub-color-dark)
}

.desc-nature-icon[data-v-dd5eb9c4] {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 100%
}

.desc-nature-icon .v-icon[data-v-dd5eb9c4] {
  margin: 0 auto;
  color: var(--main-color);
  font-size: 5em
}

.desc-nature-icon span[data-v-dd5eb9c4] {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.2em
}

.facility-wrap[data-v-dd5eb9c4] {
  width: 100%
}

.facility-item-box[data-v-dd5eb9c4] {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em
}

.facility-wrap .facility-item-icon[data-v-dd5eb9c4] {
  font-size: 3.2em;
  color: var(--main-color-light)
}

.link-btn-wrap[data-v-dd5eb9c4] {
  display: flex;
  justify-content: center;
  width: calc(100% - 5px);
  margin-left: 5px
}

.link-btn[data-v-dd5eb9c4] {
  padding: 15px 35px;
  margin-right: 10px;
  font-size: 1.4em;
  font-weight: 500;
  color: #fff;
  border-radius: 15px;
  background-color: #a8a8a8;
  transition: all .3s
}

.link-btn[data-v-dd5eb9c4]:hover {
  background-color: var(--point-color-light);
  color: #444
}

.page-footer .result-count-info[data-v-dd5eb9c4] {
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 20px
}

.page-footer .page-icon[data-v-dd5eb9c4] {
  margin-top: 10px;
  font-size: 2.5em;
  color: var(--main-color);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%)
}

@media all and (max-width : 590px) {
  .page-content[data-v-dd5eb9c4] {
    height: 70%
  }

  .page-footer .page-icon[data-v-dd5eb9c4] {
    left: 20px;
    transform: translate(0)
  }

  .page-content .desc[data-v-dd5eb9c4] {
    max-height: 400px;
    font-size: 1.08em
  }
}